input[data-fieldname="display_data"] {
    background-color: #aab9fb !important;
    color: #000000 !important;
}

button[data-fieldname="gross"] {
    background-color: lightgreen !important;
    color: #000000 !important;
    margin-top: 25px !important;
    padding: 10px 20px !important;
}

button[data-fieldname="tare"] {
    background-color: #061763 !important;
    color: #ffffff !important;
    margin-top: 23px !important;
    padding: 10px 20px !important;
}