ul.customMenu>li>a,
.sidebar-menu,
.desk-sidebar,
.hidden {
  display: none !important;
}

.form-sidebar {
  display: block !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a:hover {
  text-decoration: none;
}

ul.customMenu li li>ul {
  margin-left: 10px;
}
/* Lable 1 */
ul.customMenu>li>ul>li>a {
  font-weight: 500;
  font-size: 15px;
  color: #3498db;
  margin: 10px 0 5px 0;
  display: block;
  position: relative;
  padding-left: 20px;
}

ul.customMenu>li>ul>li>a::before {
  content: "\f009";
  font-family: FontAwesome;
  color: #333;
  font-size: 14px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
/* Lable 2 */
ul.customMenu>li>ul>li>ul>li>a {
  font-weight: 500;
  font-size: 13px;
  color: #3498db;
  margin: 10px 0 5px 0;
  display: block;
  position: relative;
  padding-left: 20px;
}

ul.customMenu>li>ul>li>ul>li>a::before {
  content: "\f147";
  font-family: FontAwesome;
  color: #333;
  font-size: 14px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
/* Lable 3 */
ul.customMenu>li>ul>li>ul>li>ul>li>a {
  font-weight: 500;
  font-size: 12px;
  color: #f31313;
  margin: 10px 0 5px 0;
  display: block;
  position: relative;
  padding-left: 12px;
}
ul.customMenu>li>ul>li>ul>li>ul>li>a:hover {
  color: #3498db;
}
ul.customMenu>li>ul>li>ul>li>ul>li>a::before {
  content: "\f276";
  font-family: FontAwesome;
  color: #f31313;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}